.home-container {
  display: flex;
  background-size: cover;
}

.home-actions {
  padding: 10px;
  // border: 1px solid green;
}

.titles {
  .home-title {
    font-weight: bold;
    font-size: 5vh;
    line-height: 58px;
    letter-spacing: -0.015em;
    color: var(--dark-color);
    margin-bottom: 40px !important;
  }

  .home-subtitle {
    font-weight: normal;
    font-size: 18px;
    letter-spacing: -0.015em;
    color: var(--secondary-color);
    margin-bottom: 50px;
  }
}

.home-btn-order {
  border: none;
  background-color: var(--color-primary);
  border-radius: 10px;
  height: 50px;
  width: 100%;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: -0.015em;
  color: #FFF;
}

.home-btn-order:hover {
  background-color: var(--primary-hover-color);
  transform: scale(1.01);
}

.home-image {
  display: none;
}

@media (min-width: 586px) {
  .home-container {
    padding: 15px;
    font-size: 40px;
    flex-direction: column;
  }

  .h {
    flex-direction: column-reverse;
  }

  .home-image {
    display: unset;
  }

  .home-title {
    margin-top: 40px;
  }
}

@media (min-width: 768px) {
  .home-container {
    // border: 1px solid orange;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .h {
    // border: 1px solid red;
    flex-direction: unset;
    // padding-top: 30px;
    justify-content: center;
    align-items: center;
  }

  .igmSvg {
    width: 400px;
    height: auto
  }

  .titles {

    .home-title {
      margin-bottom: 15px !important;
    }

    .home-subtitle {
      margin-bottom: 45px;
    }
  }
}

@media (min-width: 992px) {
  .home-container {
    padding-top: 100px;
  }

  .home-container h1 {
    margin: 0;
  }

  .home-content {
    display: flex;
    justify-content: center;
  }

  .only-titles {
    max-width: 500px;
  }

  .home-title {
    font-weight: bold;
    font-size: 55px;
    line-height: 58px;
    letter-spacing: -0.015em;
    color: var(--dark-color);
    margin-bottom: 40px !important;
  }

  .home-subtitle {
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: var(--secondary-color);
    margin-bottom: 30px;
  }

  .home-btn-order {
    border: none;
    background-color: var(--color-primary);
    border-radius: 10px;
    height: 70px;
    width: 235px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: -0.015em;
    color: #FFF;
  }

  .home-btn-order:hover {
    background-color: var(--primary-hover-color);
    transform: scale(1.01);
  }

  .igmSvg {
    width: 100% !important;
  }
}

//   .home-content-container h1 {
//     width: 506px;
//     margin-bottom: 20px;
//   }

//   .home-content-container p {
//     width: 506px;
//     margin-bottom: 20px;
//   }

//   .home-image-container svg {
//     width: 506px;
//   }
// }

// @media (min-width: 768px) {
//   .home-image-container {
//     padding: 100px 20px;
//   }

//   .home-content-container {
//     padding: 20px 20px 100px 20px;
//   }
// }

// @media (min-width: 992px) {
//   .home-container {
//     font-size: 55px;
//     padding: 40px;
//   }

//   .home-image-container {
//     padding: 125px 20px;
//   }

//   .home-content-container {
//     padding: 20px 20px 150px 20px;
//   }

//   .home-content-container h1 {
//     width: 700px;
//     margin-bottom: 26px;
//   }

//   .home-content-container p {
//     width: 700px;
//     margin-bottom: 47px;
//   }
// }

// @media (min-width: 1200px) {
//   .home-card {
//     flex-direction: row;
//     justify-content: space-around;
//     padding: calc(((85vh - 480px) / 2) - 20px) 0;
//   }

//   .home-content-container {
//     height: 480px;
//     width: 700px;
//     padding: 20px;
//     align-items: flex-start;
//     text-align: left;
//     align-content: space-between;
//     flex-flow: wrap;
//   }

//   .home-image-container {
//     display: flex;
//     align-items: center;
//     padding: 20px;
//   }

//   .home-image-container svg {
//     width: 100%;
//   }
// }

// @media (min-width: 1400px) {
//   .home-image-container svg {
//     width: 480px;
//   }
// }















// .home-container {
//   padding-top: 100px;
//   height: calc(100vh - 254px);
// }

// .home-container h1 {
//   margin: 0;
// }

// .home-content {
//   display: flex;
//   justify-content: center;
// }

// .home-title {
//   font-weight: bold;
//   font-size: 55px;
//   line-height: 58px;
//   letter-spacing: -0.015em;
//   color: var(--dark-color);
//   margin-bottom: 40px !important;
// }

// .home-subtitle {
//   font-weight: normal;
//   font-size: 24px;
//   line-height: 33px;
//   letter-spacing: -0.015em;
//   color: var(--secondary-color);
//   margin-bottom: 30px;
// }

// .home-btn-order {
//   border: none;
//   background-color: var(--color-primary);
//   border-radius: 10px;
//   height: 70px;
//   width: 235px;
//   display: inline-block;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   font-weight: bold;
//   font-size: 24px;
//   letter-spacing: -0.015em;
//   color: #FFF;
// }

// .home-btn-order:hover {
//   background-color: var(--primary-hover-color);
//   transform: scale(1.01);
// }

// .home-image svg {
//   width: 100% !important;
// }